<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>1週間1kgダイエット講座</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="template_root/v2/template_files/css/style.css?1729477891" rel="stylesheet">

<script src="js/const_common.js"></script><script src="js/const_env.js"></script><script src="accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<meta property="og:image" content="https://cdn.peraichi.com/userData/58588727-d5e0-4680-87f5-6f1f0a00003f/ogp/1897946.png">
<meta property="og:url" content="http://5z85l.hp.peraichi.com">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N8JJZ7X');</script>
<!-- End Google Tag Manager -->

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "mwgfvom2kk");
</script><script type="text/javascript" src="js/libs/lazysizes.min.js?1729477889"></script><script type="text/javascript" src="js/lazyLoad.js?1729477889"></script><script type="text/javascript" src="cjs/dist/peraichi_setting.js?1729478163"></script>
<link rel="canonical" href="index.htm"></head>
  <body class="theme-base theme-blank theme-nature vsc-initialized template-theme-default fp_cezanne_pro-m" data-template-name="blank" style="overflow: auto; padding-top: 0px;" data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="true"><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8JJZ7X" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        <div class="pera1-section block" data-structure="b-img--full" data-block-name="画像(横幅フルサイズ)" data-optional-block-settings-key="0" id="section-58" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}">
  <div class="c-img c-img--full u-align-center"><a href="https://lin.ee/2UAkVMf" target="_self"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f34da2a33/original.png" alt="" data-structure="e-img" style=""></a>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-arrow" data-block-name="見出し(矢印)" id="section-5" data-optional-block-settings-key="1" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}">
  <div class="p-heading-arrow p-heading-arrow--v2">
    <div class="c-wrapper u-align-center">
      <div class="c-heading c-text p-heading-arrow__inner">
        <h2 data-structure="e-heading" class="pera1-editable"><div><strong>こんな方におすすめの<br>ダイエットプログラムです</strong></div></h2>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-list-note" data-block-name="ノート" data-optional-block-settings-key="2" id="section-59">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical c-inner--one-elem">
        <div class="p-premium-list-note">
          <div class="p-premium-list-note__body c-inner c-inner--xl">
            
            <div class="c-list-v u-mblg pera1-removable">
              <ul class="pera1-sortable" data-structure="m-list">
                <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>ダイエットしても結果が出ない方</div></div>
                  </div>
                </li>
                <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>食事制限するのがイヤな方</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>運動するのがイヤな方</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>ダイエットを成功させたい方</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>リバウンドしない方法を知りたい方</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>自分の理想の体型を目指したい方</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>無理なダイエットはしたくない方</div></div>
                  </div>
                </li>
              <li class="pera1-sortable-item pera1-removable pera1-ghost pera1-add pera1-multiple" data-structure="e-list-item" data-elem-name="list-item" data-nosnippet="" style="opacity: 0; height: 50px;">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div class="u-overflow-hidden pera1-editable">ここをクリックして表示したいテキストを入力してください。</div>
                  </div>
                </li></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-arrow" data-block-name="見出し(矢印)" data-optional-block-settings-key="3" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}" id="section-62">
  <div class="p-heading-arrow p-heading-arrow--v2">
    <div class="c-wrapper u-align-center">
      <div class="c-heading c-text p-heading-arrow__inner">
        <h2 data-structure="e-heading" class="pera1-editable"><strong>私たちのサポートを受けて<br>お喜びの声を多数いただいています。</strong></h2>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="4" id="section-63">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f3e9d1708/original.jpg" class="pera1-editable" style="" data-structure="e-img" alt="" data-clip-image-origin="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="5" id="section-65">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-marker" data-block-name="見出し(マーカー)" data-optional-block-settings-key="6" id="section-68">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-marker">
          <h2 data-structure="e-heading" class="pera1-editable">３ヶ月でマイナス10キロに</h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="7" id="section-64">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-structure="e-text" class="pera1-editable"><div>１週間１kgダイエットプログラムで学んでいただいて、実践をしていただきました。<br>３ヶ月で１０キロ痩せられました。<br><br>その後もリバウンドなく継続的に痩せています。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="8" id="section-66">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f3a6d13a6/original.jpg" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="9" id="section-82">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="10" id="section-70">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-structure="e-text" class="pera1-editable"><div>３ヶ月継続して結果が出たので楽しくなって、そのまま１週間１kgダイエットプログラムを行ったら、１５．８キロも痩せられたそうです。<br><br>全く別人のカラダになって、本当に嬉しいです！と言われています。<br><br>これからも無理なく継続できそうです！ということです。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="11" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}" id="section-105">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><a href="https://lin.ee/2UAkVMf" target="_self"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f64e747ef/original.png" alt="" data-structure="e-img" style=""></a>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-marker" data-block-name="見出し(マーカー)" data-optional-block-settings-key="12" id="section-71">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-marker">
          <h2 data-structure="e-heading" class="pera1-editable"><div>たくさんの方が結果が出たと喜んでいただいています</div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="13" id="section-95">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable">3ヶ月で10.7キロ痩せました</h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="14" id="section-81">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f42bdab06/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="15" id="section-83">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="12">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="16" id="section-96">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable">3ヶ月で10.2キロ痩せました</h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="17" id="section-72">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="14">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f443cb8e4/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="18" id="section-84">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="15">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="19" id="section-97" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="16">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable"><div><strong>3ヶ月でウエストが11.5センチ痩せました</strong></div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="20" id="section-73" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="17">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f45dd89c7/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="21" id="section-85" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="18">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="22" id="section-98" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="19">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable"><div><strong>3ヶ月でダイエットが上手くいって履けなかったズボンが履けました</strong></div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="23" id="section-75" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="20">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/66e8a9cc3e7fb/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="24" id="section-87" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="21">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="25" id="section-99" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="22">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable">3ヶ月で10.4キロ痩せて、動くのが楽になりました</h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="26" id="section-77" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="23">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/66e8a9cbf1850/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="27" id="section-89" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="24">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="28" id="section-101" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="25">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable"><div><strong>無理なく、理想の体型になれて満足しています！</strong></div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="29" id="section-78" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="26">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/66e8a9cc13715/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="30" id="section-91" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="27">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="31" id="section-102" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="28">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable"><div><strong>リバウンドなしで体型を維持できています🎵</strong></div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="32" id="section-79" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="29">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f49a8e51a/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="33" id="section-92" data-display-none-target="all" data-nosnippet="" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:false,&quot;isDisplayedOnMobile&quot;:false}"><div class="only-edit-notification-icon u-align-center js-display-setting-notification" data-nosnippet="">
            <div class="u-flex u-mrmd">
                <img src="img/display_settings/desktop_slash.svg">&nbsp;<img src="img/display_settings/mobile_slash.svg">&nbsp;
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>このブロックは非表示設定になっています公開ページで表示したい場合は「ブロックの設定」から変更してください</span>
            </div>
        </div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="30">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" data-optional-block-settings-key="34" id="section-103">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="31">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable">3ヶ月で13.3キロも痩せて、嬉しいです！</h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="35" id="section-80">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="32">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f4b344380/original.png" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence" data-block-name="文章" data-optional-block-settings-key="36" id="section-67">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="33">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div data-custom-pc-fontsize="12px" data-structure="e-text" class="pera1-editable"><div>※結果には個人差はあります。</div></div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="37" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}" id="section-104">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="34">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><a href="https://lin.ee/2UAkVMf" target="_self"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f64e747ef/original.png" alt="" data-structure="e-img" style=""></a>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-cards--3col" data-block-name="上画像(3列)" id="section-51" data-optional-block-settings-key="38" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="35">
    <div class="c-wrapper c-wrapper--lg u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><div><strong>ダイエットは“つらいもの”だと思っていませんか？</strong></div></h2>
        </div>
        <div class="pera1-removable">
          <div data-structure="m-cards">
            <div class="grid-wrapper grid-wrapper--full">
              <div class="row center-xs row-item-gutter--lg">
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f60b6eec1/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div data-custom-pc-fontsize="24px" data-structure="e-heading" class="pera1-editable"><div><strong>激しい運動をしないといけい</strong></div></div>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f61ea205e/original.png" alt="" data-structure="e-img" style="">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div data-custom-pc-fontsize="24px" data-structure="e-heading" class="pera1-editable"><div><strong>食べたいものを食べれない</strong></div></div>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable" data-elem-name="m-card">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f635a6814/original.png" class="pera1-editable" style="" data-structure="e-img" alt="" data-clip-image-origin="">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div data-custom-pc-fontsize="24px" data-structure="e-heading" class="pera1-editable"><strong>なかなか結果が出ない</strong></div>
                    </div>
                    
                    
                  </div>
                </div><div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="m-card" style="opacity: 0; height: 50px;" data-nosnippet="">
                  <div data-structure="m-card">
                    <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/im_image_square.svg" alt="" data-structure="e-img">
                    </div>
                    <div class="c-heading u-mbmd pera1-removable">
                      <div class="pera1-editable" data-structure="e-heading"><strong>小見出し</strong></div>
                    </div>
                    <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                      <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。</div>
                    </div>
                    <div class="c-btn c-btn--min-half u-mbmd pera1-removable"><a class="pera1-editable" href="javascript:void(0);" data-structure="e-btn">ボタン</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-arrow" data-block-name="見出し(矢印)" data-optional-block-settings-key="39" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}" id="section-94">
  <div class="p-heading-arrow p-heading-arrow--v2">
    <div class="c-wrapper u-align-center">
      <div class="c-heading c-text p-heading-arrow__inner">
        <h2 data-structure="e-heading" class="pera1-editable"><div><strong>無料のダイエットプログラムの内容とは？</strong></div></h2>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-right--bg-light" data-block-name="右画像(背景画像あり・明)" id="section-15" data-optional-block-settings-key="40" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}">
  <div class="c-bg-overlay c-bg-overlay--light c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(template_root/v2/s3bucket/images/default/im_scenery_sky.jpg)" data-bg-key="36">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><div style="text-align: center;">無理のないダイエット方法【7日間プログラム】</div></h2>
        </div>
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd pera1-removable">
              <div class="c-img c-img--responsive"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f5f7f36e6/original.png" alt="" data-structure="e-img" style="">
              </div>
            </div>
            <div class="col-xs-12 col-sm first-sm">
              <div class="u-mbmd p-article-lead-text pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><div><span data-custom-pc-fontsize="22px">・無理な食事制限は一切なし</span></div>
<div><span data-custom-pc-fontsize="22px">・運動もなし</span></div></div>
              </div>
              
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-custom-pc-fontsize="22px" data-structure="e-text" class="pera1-editable"><div>１週間で１kgのダイエットプログラム<br>再現性の高い方法をご紹介</div></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-list-note" data-block-name="ノート" data-optional-block-settings-key="41" id="section-93" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="37">
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical c-inner--one-elem">
        <div class="p-premium-list-note">
          <div class="p-premium-list-note__body c-inner c-inner--xl">
            
            <div class="c-list-v u-mblg pera1-removable">
              <ul class="pera1-sortable" data-structure="m-list">
                <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>１日目</div>
<div>ダイエットするために絶対しないといけないこと！</div></div>
                  </div>
                </li>
                <li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>2日目</div>
<div>１日200g痩せる食事法</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>３日目</div>
<div>痩せるのは●●のタイミング大事！&nbsp;</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>４日目</div>
<div>痩せても意味がない間違った痩せ方とは？</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>５日目</div>
<div>リバウンドせずキレイに痩せる！</div>
<div>そのための”最重要”な２つのポイントとは？</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>６日目</div>
<div>ダイエットの天敵、外食の対処方法！</div></div>
                  </div>
                </li><li class="pera1-sortable-item pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div data-custom-pc-fontsize="20px" class="u-overflow-hidden pera1-editable"><div>７日目</div>
<div>ダイエット停滞期の抜け出し方とは？</div></div>
                  </div>
                </li>
              <li class="pera1-sortable-item pera1-removable pera1-ghost pera1-add pera1-multiple" data-structure="e-list-item" data-elem-name="list-item" data-nosnippet="" style="opacity: 0; height: 50px;">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="template_root/v2/s3bucket/images/default/premium/note2_check.png" alt="" width="25" data-structure="e-img">
                    </div>
                    <div class="u-overflow-hidden pera1-editable">ここをクリックして表示したいテキストを入力してください。</div>
                  </div>
                </li></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="42" data-optional-block-settings="{&quot;isDisplayedOnDesktop&quot;:true,&quot;isDisplayedOnMobile&quot;:true}" id="section-61">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="38">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><a href="https://lin.ee/2UAkVMf" target="_self"><img class="pera1-editable" src="userData/58588727-d5e0-4680-87f5-6f1f0a00003f/img/6703f64e747ef/original.png" alt="" data-structure="e-img" style=""></a>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--5" data-block-name="区切り線(手書き5)" id="section-56" data-optional-block-settings-key="43">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="39">
    <hr class="c-hr-origin c-hr-origin--5" data-structure="e-hr-origin--5">
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1" data-optional-block-settings-key="44">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="40">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable"><div>Copyright 2024 ダイエットサポートチーム</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
















































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="scripts/beacon.min.js?tracking_codes=lZ7EEIDmL5Sq6x8"></script></body></html>